<html>
    <head>
        <title> 404 </title>

        <link rel ='icon' href='images/cloud.png' </link>
        <link rel ='stylesheet' href="css/style.css">
    </head>

    <body>
            <div class="fle">

                     {{>header}} </br>

                     {{message}}
    
            </div>

            {{>footer}}
    </body>

</html>