<html>
     <head>
          <title> ABOUT </title>

          <link rel ='icon' href='images/cloud.png'> </link>
          <link rel ='stylesheet' href="css/style.css">
     </head>

     <body>
                <div class="fle">

                          {{>header}}

                          <img class='myprofile' src="./images/parthu.jpg", alt = " oops image is not available"> </img>


                          <h2> About Myself </h2>
                          <p> Myself <strong>PARTH PARMAR</strong>,  am 21 years old  &  well skilled <strong>FULLSTACK WEBDEVELOPER</strong>.
                          I had completed 2 months <strong>INTERNSHIP</strong> in Marsilex Company & I have had made few projects too.  </p>

                          <h2> About Education </h2>
                          <p> I am in the final year of <strong>INFORMATION & TECGNOLOGY</strong> 
                          in Sardar Vallabhbhai Patel Institute of Technology, Vasad.  </p>

                          <h2> About Intrests </h2>
                          <p> I am Intrested In Technologies like <strong> NODEJS </strong> for backend , 
                          <strong> REACTJS </strong> for frontend, <strong> MONGODB </strong> for database. </p>

                </div>
             
          {{>footer}} 

     </body>

</html>