<html>
     <head>
          <title> ABOUT </title>

          <link rel ='icon' href='images/cloud.png' </link>
          <link rel ='stylesheet' href="css/style.css">
     </head>

     <body >
                <div class="fle">

                          {{>header}}

                          <img src="images/mine.jpg">

                </div>
             
          {{>footer}} 

     </body>

</html>