<html>
     <head>
        <title> HELP </title>

        <link rel ='icon' href='images/cloud.png' </link>
        <link rel ='stylesheet' href="css/style.css">
     </head>

     <body>
             <div class="fle">

                       {{>header}} 

                       <img id='mg' src='./images/cloud.png'> </img>

             </div>

            {{>footer}} 

     </body>

</html>