<html>
     <head>
            <title> WEATHER APPLICATION</title>

            <link rel ='icon' href='images/cloud.png' </link>
            <link rel ='stylesheet' href="css/style.css">
            
     </head>

     <body>
            <div class="fle">
                      {{>header}}  </br></br></br>

       <form>
                      <input type='text' id='papu' class='inp' placeholder='location' autocomplete="off">
                      <button> Search </button>
       </form> </br></br></br></br></br></br></br></br>
          
          <p id='message-1'> </p>

          <p id='message-2'> </p>

          <p id='message-3'> </p>

            </div>
           
         {{>footer}}        

              <script src='js/javascript.js'> </script>
     </body>

</html>