.hhh {
        background-color: lightskyblue;      
}

h2 {
        text-decoration: underline;
        text-align: justify;
}

h3 {
        background-color: yellow;
}

.p {
     color: green;
     text-decoration: bold;
     background-color: red;
}


footer {
            color: grey;
            border-top: 1px solid grey;
            
}

body {
        margin-top: 10px ;
        font-style: 'Sansita Swashed', cursive ;
        display: flex;
        flex-direction: column ;
        min-height: 93vh;
        
        background: linear-gradient(
        to left,
         rgb(205, 221, 64) 0%,
         rgb(96, 197, 146) 100%
  );
}

.fle {
           flex-grow: 1;
}

h1 {
        font-size: 40px;
        display: inline-block;
        direction: column;
        animation-name: parth;
        animation-duration: 60s;
}

@keyframes parth {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }

header a {
            color:rgb(146, 56, 86);
            text-decoration: none;
            word-spacing: 20px;
}

header a:hover {
        color: rgb(16, 76, 83);
        text-decoration: none;
        transform : scalex(1.6);
}

.myprofile {
        margin-top:10px;
        height: 440px;
        width: 300px;
        margin-left: 310px
}

.myprofile:hover {
        transform: scaleX(1.5);
}

header {
                margin-left: 333px;

}

.inp {
                margin-left: 330px;
                font-size: 15px;
                padding: 6px;
}

#message-1 {

                display: block;
                direction: column;
                text-align: center;
                font-family: sans-serif ;
                font-weight: bolder;
                background: linear-gradient(
                        to left,
                         rgb(217, 219, 107) 20%,
                         rgb(127, 200, 212) 80% )
                
}

#message-2 {
                
        background: linear-gradient(
                to left,
                 rgb(217, 219, 107) 20%,
                 rgb(127, 200, 212) 80% );
        
                direction: column;
                display: block;
                text-align: center;
                font-family: sans-serif ;
                font-weight: bolder;
}
 
#message-3 {

        background: linear-gradient(
                to left,
                 rgb(217, 219, 107) 20%,
                 rgb(127, 200, 212) 80% );
        direction: column;
        display: block;
        text-align: center;
        font-family: sans-serif ;
        font-weight: bolder;
}

#message-4 {
        background: linear-gradient(
                to left,
                 rgb(217, 219, 107) 20%,
                 rgb(127, 200, 212) 80% );
        display: inline-block;
        display: block;
        text-align: center;
        font-family: sans-serif ;
        font-weight: bolder;
}

#message-5 {

        background: linear-gradient(
                to left,
                 rgb(217, 219, 107) 20%,
                 rgb(127, 200, 212) 80% );
        direction: column;
        display: block;
        text-align: center;
        font-family: sans-serif ;
        font-weight: bolder;
}
button {
        padding: 6px;
        background: linear-gradient(
                to left,
                 rgb(217, 219, 107) 20%,
                 rgb(127, 200, 212) 80% )
        }

#mg {
                width: 60px;
                height: 60px;
                margin-left: 20px;
                margin-top: -18px;
        }

.more-info{
                display : none;
        }
.inpar {
        width: 250px;
        padding: 3px;
        }

.area {
        width: 400px;
        }

.button:focus,
.button:hover {
        border:none
}
